<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <div class="row mt-3">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header">Create Account</div>
                <div class="card-body">
                    <form method="post" th:action="@{/saveAccount}" th:object="${user}">
                        <div class="mb-3 mt-3">
                            <label for="username" class="form-label">Username</label>
                            <input id="username" class="form-control" placeholder="username" name="username" th:value="*{username}"></input>
                            <span th:errors="*{username}" class="text-danger"></span>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="email" class="form-label">Email</label>
                            <input id="email" class="form-control" placeholder="email" name="email" th:value="*{email}"></input>
                            <span th:errors="*{email}" class="text-danger"></span>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" class="form-control" placeholder="password" name="password" th:value="*{password}"></input>
                            <span th:errors="*{password}" class="text-danger"></span>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input class="form-control" id="confirmPassword" type="password" name="confirmPassword" th:value="*{confirmPassword}" placeholder="confirm password">
                            <span th:errors="*{confirmPassword}" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Create Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>